<div class="page-header">
  <div class="page-header__title-container">
    <button 
      *ngIf="showBackButton" 
      class="page-header__back-button"
      [routerLink]="backRoute"
    >
      <i class="material-icons">arrow_back</i>
    </button>
    
    <div class="page-header__titles">
      <h1 class="page-header__title">{{ title | translate }}</h1>
      <p *ngIf="subtitle" class="page-header__subtitle">{{ subtitle | translate }}</p>
    </div>
  </div>
  
  <div class="page-header__actions">
    <ng-content></ng-content>
  </div>
</div>
